{% extends 'publist/base.html' %}

{% block title %}
	<title>Add a New Pub</title>
{% endblock %}

{% block content %}
	<div class="col-md-2 col-md-offset-5">
		<h1>Add a New Pub</h1>
		<form id="addpub" method="post" action="{% url 'addpub' %}">
			{% csrf_token %}
			{{ pub_form.as_p }}
			<input class="button" type="submit" name="Add Pub" value="Add Pub" />
			<input class="button" type="submit" name="cancel" value="Cancel" onClick="parent.location='{% url 'index' %}'"/>
		</form>
	</div>

{% endblock %}