{% extends 'publist/base.html' %}

{% block title %}
	<title>List of All Pubs</title>
{% endblock %}

{% block content %}
	<h1 style="text-align: center;">List of All Pubs: {{ counter }} Pubs</h1>
	<div class="table-responsive">
		{% if pubs %}
			<table class="table table-striped">
				<thead>
					<th>Pub Name</th>
					<th>Address</th>
					<th>Area</th>
					<th>County</th>
					<th>Visited This Year</th>
					<th>Found Through App</th>
				</thead>
				<tbody>
				{% for pub in pubs %}
					<tr>
						<td>{{pub.name}}</td>
						<td>{{pub.address}}</td>
						<td>{{pub.area}}</td>
						<td>{{pub.county}}</td>
						{% if pub.thisyear %}
							<td>Yes</td>
						{% else %}
							<td>No</td>
						{% endif %}
						{% if pub.fromapp %}
							<td>Yes</td>
						{% else %}
							<td>No</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<div class="col-md-2 col-md-offset-5">
				<h1 class="error">No Pubs found!</h3>
				<div class="span12 text-center">
					<a href="{% url 'index' %}">Back to Home</a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}